@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$color-yellow: #fab728;
$color-black: #1d1d1b;
$color-white: #ffffff;

$bg-yellow: $color-yellow;
$bg-black: $color-black;
$bg-white: $color-white;

body {
  scroll-behavior: smooth;
}

/******************** 
        HEADER
*********************/
.header {
  background-image: url("/app/assets/images/capa.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  .button {
    text-decoration: none;
    background-color: transparent;
    color: $color-black;
    padding: 15px 15px;
    border: 1px solid $color-black;
    font-weight: 700;
    margin-right: 1em;
  }
  main {
    .title-wrap-1 {
      background-color: $color-white;
      border-radius: 10px;
      line-height: 1.8em;
      padding: 0 5px;
    }
    .title-wrap-2 {
      background-color: $color-white;
      border-radius: 10px;
      padding: 0 5px;
    }
    .video {
      border-radius: 10px;
    }
    h1 {
      font-size: 1.8em;
    }
    p {
      font-weight: 500;
      text-align: justify;
      font-size: 1.8em;
    }
  }
}

/******************** 
    SECTION - TEAM
*********************/
.our-team {
  background-image: url("/app/assets/images/fundo-others.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 3rem 0;
  .title {
    letter-spacing: 10px;
    margin-bottom: 2rem;
  }
  .personal {
    width: 10em;
    border-radius: 50%;
  }
  .content {
    font-weight: 700;
    font-size: 26px;
    margin: 3rem 0;
    .video {
      border-radius: 10px;
    }
  }
  .factors {
    .icon {
      width: 200px;
    }
  }
  .member {
    display: flex;
    flex-direction: column;
  }
  .our-team-end {
    font-size: 16px;
    font-weight: 600;
    margin: 5rem 0;
    .reduce {
      max-width: 240px;
      margin: 1rem 0;
      img {
        width: 200px;
      }
    }
    .text--right {
      width: 205px;
      float: right;
      font-size: 20px;
    }
    .text--left {
      width: 270px;
      float: left;
    }
  }
}

/******************** 
    SECTION - OUR SERVICES
*********************/
.our-services {
  background-color: $bg-white;
  padding: 3rem 0;
  .title {
    letter-spacing: 10px;
    margin-bottom: 2rem;
  }
  img {
    width: 200px;
  }
  .video {
    border-radius: 10px;
  }
}

/******************** 
    SECTION - CONTACT
*********************/
.contact {
  background-image: url("/app/assets/images/fundo-others.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 3rem 0;
  .content {
    height: 40vh;
    p {
      text-align: justify;
      font-weight: 600;
      font-size: 1.1em;
    }
    .button {
      text-decoration: none;
      background-color: transparent;
      color: $color-black;
      padding: 15px 15px;
      border: 1px solid $color-black;
      font-weight: 700;
      font-size: 20px;
    }
  }
}

/******************** 
        FOOTER
*********************/
footer {
  background-image: url("/app/assets/images/fundo-others.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 3rem 0;
  p {
    font-weight: 700;
  }
}

/******************** 
    MEDIA QUERY
*********************/
@media (max-width: 576px) {
  .header {
    .button {
      text-decoration: none;
      background-color: transparent;
      color: $color-black;
      padding: 15px 15px;
      border: 1px solid $color-black;
      font-weight: 700;
      margin: 0 0 1em 0;
      text-align: center;
    }
  }

  main {
    h1 {
      text-align: center;
      .title-wrap-1 {
        font-size: 0.6em;
      }
      .title-wrap-2 {
        font-size: 0.6em;
      }
    }
    .mob-main {
      flex-direction: column;
      .video {
        width: 100%;
      }
      h1 {
        font-size: 2.3em;
      }
      p {
        font-size: 1.4em;
      }
    }
  }

  .our-team {
    .desktop {
      display: none;
    }
    .mob-role {
      display: flex;
      flex-direction: column;
    }
    .content {
      .video {
        width: 100%;
      }
    }
    .our-team-end {
      flex-direction: column;
      .fix-end {
        display: flex;
        justify-content: center;
        text-align: center !important;
      }
    }
  }

  .our-services {
    .desktop {
      display: none;
    }
    .video {
      width: 100%;
    }
  }

@media (min-width: 576px) {
  .our-team {
    .mobile  {
      display: none;
    }
  }

  .our-services {
    .mobile  {
      display: none;
    }
  }