@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$color-yellow: #fab728;
$color-black: #1d1d1b;
$color-white: #ffffff;

$bg-yellow: $color-yellow;
$bg-black: $color-black;
$bg-white: $color-white;

/******************** 
        HEADER
*********************/

.header {
  background-image: url("/app/assets/images/capa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  // height: calc(120vh);
  .proposal {
    height: 40vh;
    .title-wrap-1 {
      background-color: $color-white;
      border-radius: 10px;
      line-height: 1.8em;
      padding: 0 5px;
    }
    .title-wrap-2 {
      background-color: $color-white;
      border-radius: 10px;
      padding: 0 5px;
    }
  }
  .details {
    .video {
      border-radius: 10px;
    }
    p {
      font-weight: 500;
    }
  }
}

/******************** 
    Nossa Equipe
*********************/

.our-team {
  background-color: $bg-yellow;
  .title {
    letter-spacing: 10px;
  }
  img {
    width: 10em;
    border-radius: 50%;
  }
  .content {
    font-weight: 500;
  }
}

.teste {
  border: 3px solid black;
  // background-color: brown;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (max-width: 576px) {
  .mob-details {
    flex-direction: column;
    .video {
      width: 100%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}
