@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/******************** 
        HEADER
*********************/
.header {
  background-image: url("/app/assets/images/capa.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.header main .title-wrap-1 {
  background-color: #ffffff;
  border-radius: 10px;
  line-height: 1.8em;
  padding: 0 5px;
}
.header main .title-wrap-2 {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0 5px;
}
.header main .video {
  border-radius: 10px;
}
.header main p {
  font-weight: 500;
  text-align: justify;
}

/******************** 
    SECTION - TEAM
*********************/
.our-team {
  background-image: url("/app/assets/images/fundo-others.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 3rem 0;
}
.our-team .title {
  letter-spacing: 10px;
  margin-bottom: 2rem;
}
.our-team .personal {
  width: 10em;
  border-radius: 50%;
}
.our-team .content {
  font-weight: 700;
  font-size: 26px;
  margin: 3rem 0;
}
.our-team .content .video {
  border-radius: 10px;
}
.our-team .fatores .icon {
  width: 200px;
}
.our-team .member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-team .our-team-end {
  font-size: 16px;
  font-weight: 600;
  margin: 5rem 0;
}
.our-team .our-team-end .reduce {
  max-width: 240px;
  margin: 1rem 0;
}
.our-team .our-team-end .reduce img {
  width: 200px;
}
.our-team .our-team-end .text--right {
  width: 205px;
  float: right;
  font-size: 20px;
}
.our-team .our-team-end .text--left {
  width: 270px;
  float: left;
}

/******************** 
    SECTION - OUR SERVICES
*********************/
.our-services {
  background-color: #ffffff;
  padding: 3rem 0;
}
.our-services .title {
  letter-spacing: 10px;
  margin-bottom: 2rem;
}
.our-services img {
  width: 200px;
}
.our-services .video {
  border-radius: 10px;
}

/******************** 
    SECTION - CONTACT
*********************/
.contact {
  background-image: url("/app/assets/images/fundo-others.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 3rem 0;
}
.contact .content {
  height: 30vh;
}
.contact .content p {
  text-align: justify;
  font-weight: 600;
  font-size: 1.1em;
}
.contact .content .button {
  text-decoration: none;
  background-color: transparent;
  color: #1d1d1b;
  padding: 15px 15px;
  border: 1px solid #1d1d1b;
  font-weight: 700;
  font-size: 20px;
}

/******************** 
        FOOTER
*********************/
footer {
  background-image: url("/app/assets/images/fundo-others.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 3rem 0;
}
footer p {
  font-weight: 700;
}

/******************** 
    MEDIA QUERY
*********************/
@media (max-width: 576px) {
  main h1 {
    text-align: center;
  }
  main h1 .title-wrap-1 {
    font-size: 0.6em;
  }
  main h1 .title-wrap-2 {
    font-size: 0.6em;
  }
  main .mob-main {
    flex-direction: column;
  }
  main .mob-main .video {
    width: 100%;
  }
  main .mob-main h1 {
    font-size: 32px;
  }
  .our-team .desktop {
    display: none;
  }
  .our-team .content .video {
    width: 100%;
  }
  .our-team .our-team-end {
    flex-direction: column;
  }
  .our-team .our-team-end .fix-end {
    display: flex;
    justify-content: center;
    text-align: center !important;
  }
  .our-services .desktop {
    display: none;
  }
  .our-services .video {
    width: 100%;
  }
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}/*# sourceMappingURL=style.css.map */